@import "tailwindcss";

@theme {
  /* Custom Color Palette based on Among Us style */
  --color-space-black: #0b0d17;
  --color-space-blue: #1a1d2d;

  --color-role-imposter: #c51111;
  --color-role-crewmate: #38bdf8;
  --color-role-jester: #e879f9;
  --color-role-sheriff: #fcc01e;

  --color-action-kill: #c51111;
  --color-action-report: #ef4444;
  --color-action-emergency: #f5b027;

  --animate-role-reveal: role-reveal 2s ease-out forwards;

  @keyframes role-reveal {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

:root {
  --background: var(--color-space-black);
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}